asn1crypto==0.24.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
cryptography==2.1.4
cssselect==1.1.0
cssutils==1.0.2
cycler==0.10.0
decorator==4.1.2
emails==0.5.15
enum34==1.1.6
green-recorder==3.2.3
html5lib==0.999999999
idna==2.8
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
lxml==4.4.1
nltk==3.4.5
numpy==1.16.3
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
premailer==3.6.1
prompt-toolkit==1.0.15
pycrypto==2.6.1
pydbus==0.6.0
Pygments==2.2.0
pygobject==3.26.1
pyOpenSSL==17.5.0
pyparsing==2.4.0
python-dateutil==2.8.1
pytz==2019.1
pyxdg==0.25
requests==2.22.0
scandir==1.7
scour==0.36
SecretStorage==2.3.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.13.0
subprocess32==3.5.3
traitlets==4.3.2
urllib3==1.25.7
vboxapi==1.0
wcwidth==0.1.7
webencodings==0.5
