/*
 * This is the CSS stylesheet for the notes creation/update/delete application
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body, .ui-btn {
    font-family: Roboto;
}

.navigation {
    border: 2px solid grey;
    background-color: lightgrey;
    width: 95%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 10px;
    text-align: left;
}

.container {
    padding: 10px;
}

.banner {
    text-align: center;
}

.editor {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 5px;
}

.editor div {
    margin-bottom: 5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

button {
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #eee;
}

.notes {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, caption, th, td {
    border: 1px solid lightgrey;
}

table caption {
    height: 33px;
    font-weight: bold;
    padding-top: 5px;
    border-bottom: none;
}

tr {
    cursor: pointer;
    height: 33px;
}

tr:nth-child(even) {
    background-color: #f0f0f0
}

tbody td.content {
    text-align: left;
    padding: 0 5px 0 5px;
}

td {
    text-align: center;
}

.content {
    width: 70%;
}

.timestamp {
    width: 30%;
}

.error {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #fbb;
    visibility: hidden;
}