blessed==1.50.0
botocore==1.43.107
chalice==1.33.0
click==8.5.0
editor==2.0.1
inquirer==3.4.1
jinxed==2.1.0
jmespath==1.1.0
packaging==26.3
python-dateutil==2.9.0.post0
pyyaml==6.0.3
readchar==4.2.2
runs==1.3.0
six==1.17.0
urllib3==2.8.0
wcwidth==0.9.1
xmod==1.10.0
