/*
 * This is the parent CSS stylesheet that all pages get basic styling from
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body, .ui-btn {
    font-family: Roboto;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 15px 10px 15px 10px;
    border-bottom: 2px solid darkgrey;
    background-color: whitesmoke;
}

.navigation a {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text: black;
    background-color: lightskyblue;
}

.navigation .page_name {
    flex-grow: 2;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.navigation a:hover {
    background-color: deepskyblue;
}

.container {
    padding: 10px;
}

.error {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #fbb;
    visibility: hidden;
}