{% extends "base.html" %}

{% block page_content %}
<div class="col-md-6 offset-md-3">
    {% if validlink %}
    <h1 class="mt-4 mb-4">Set a new password!</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Change my password">
    </form>
    {% else %}
    <h1 class="mt-4 mb-4">Invalid token</h1>
    <p>The token you are using has either expired or already been used.</p>
    <p>Click <a href="{% url 'password_reset' %}">here</a> to request a new one.</p>
    {% endif %}
</div>
{% endblock%}
