<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
    <title>Document</title>
</head>
<body>
    
    <header>

        <nav>
            <a href="https://realpython.com/">Real Python</a>
            <a href="https://docs.celeryq.dev/en/stable/index.html">Celery</a>
            <a href="https://www.djangoproject.com/">Django</a>
            <a href="https://www.flickr.com/">Flickr</a>
        </nav>

        <h1>Photo Preview Feed</h1>

        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">
                Fetch New Images
            </button>
        </form>
        
    </header>

    <main>
            
        {% for image in object_list %}
        
        <a href="{{ image.link }}">
            <figure>
                <img height="50%" width="50%" src="{{ image.image_url }}" alt="{{ image.title }}" target="_blank"/>
                <figcaption>{{ image.title }}</figcaption>
            </figure>
        </a>

        {% endfor %}

    </main>

</body>
</html>