<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <style>
        header { text-align: center; }
        hr { margin: 30px 0 30px 0; }
        main { display: flex; flex-wrap: wrap; justify-content: space-around; max-width: 70%; margin: auto; }
        img { border-radius: 15px; } // border: 1px; border-style: solid; border-color: gray;
    </style>
</head>
<body>
    
    <header>

        <h1>Flickrest Thumbnail Feed</h1>

        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">
                Fetch New Images
            </button>
        </form>
        
    </header>

    <hr/>

    <main>
            
        {% for image in object_list %}
        
        <div>
            <figure>
                <a href="{{ image.link }}" target="_blank">
                    <img height="100%" width="100%" src="{{ image.image_url }}" alt="{{ image.title }}" target="_blank"/>
                </a>
                <figcaption>{{ image.title | truncatechars:30 }}</figcaption>
            </figure>
        </div>

        {% endfor %}

    </main>

</body>
</html>