{% extends "base.html" %}
{% block title %}
    04 - Your Screenshot
{% endblock title %}
{% block content %}
    <form class="columns">
        <button formmethod="get" formaction="{{ url_for("preview") }}">⬅️ Back</button>
        {% if screenshot_b64 %}
            <div class="code_picture">
                <img src="data:image/png;base64,{{ screenshot_b64 | safe }}"
                     alt="Website Screenshot"/>
                <a href="data:image/png;base64,{{ screenshot_b64 | safe }}"
                   download="screenshot.png">Download Your Code Picture ⤵️</a>
            </div>
        {% endif %}
        <button formmethod="get" formaction="{{ url_for("code") }}">🔄 Back to Start</button>
    </form>
{% endblock content %}
