<!-- todo_list/todo_app/templates/todo_app/todoitem_confirm_delete.html -->
{% extends "base.html" %}

{% block content %}


<h3>Delete To-do Item</h3>

<p>Are you sure you want to delete the item: <b>{{ object.title }}</b>
    <p>from the list <i>{{ todo_list.title }}</i>?</p>

    <form method="POST">
        {% csrf_token %}
        <input value="Yes,delete." type="submit">
        <input value="Cancel" type="button" onclick="location.href='{% url "list" todo_list.id %}';" />
    </form>

{% endblock %}
