* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.3em;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: center;
    line-height: 1em;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

span {
    color: deepskyblue;
}
