<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="top-bar">
    <img src="/static/real-python-logo.png" alt="Real Python Logo">
  </div>
  <form class="panel" method="get" action="/logout">
    <h1> Welcome back, {username} 👋</h1>
    <div>You've been viewing this page for <span id="seconds">0</span> seconds.</div>
    <button type="submit">Log Out</button>
  </form>
  <script src="/static/app.js"></script>
</body>
</html>
