<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log In</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="top-bar">
    <img src="/static/real-python-logo.png" alt="Real Python Logo">
  </div>
  <form class="panel" method="post" action="">
    <div class="login-error {hidden}">🔒 Wrong username or password!</div>
    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">Log In</button>
  </form>
</body>
</html>
