{% extends "terms/base.html" %}

{% block pagination %}
<p>
    Current Page: <b id="current"></b>
</p>

<nav>
    <a href="#" id="prev">
        Previous Page
    </a>
    <a href="#" id="next">
        Next Page
    </a>
</nav>

<script>
    class FauxPaginator {
        constructor(perPage) {
            this.perPage = perPage
            this.pageIndex = 0
            this.elements = document.querySelectorAll("pre")
            this.label = document.querySelector("#current")
            this.prev = document.querySelector("#prev")
            this.next = document.querySelector("#next")
            this.prev.addEventListener("click", this.onPrevClick.bind(this))
            this.next.addEventListener("click", this.onNextClick.bind(this))
            this.goToPage()
        }

        onPrevClick(event) {
            event.preventDefault()
            this.pageIndex--
            this.goToPage()
        }

        onNextClick(event) {
            event.preventDefault()
            this.pageIndex++
            this.goToPage()
        }

        goToPage() {
            const indexMin = this.pageIndex * this.perPage
            const indexMax = indexMin + this.perPage

            this.elements.forEach((el, i) => {
                const visible = i >= indexMin && i < indexMax
                el.style.display = visible ? "block" : "none"
            })

            this.label.innerText = this.pageIndex + 1

            const firstPage = indexMin === 0
            const lastPage = indexMax >= this.elements.length
            this.prev.style.display = firstPage ? "none" : "inline-block"
            this.next.style.display = lastPage ? "none" : "inline-block"
        }
    }

    new FauxPaginator(3);
</script>
{% endblock %}
