{% extends "terms/base.html" %}

{% block pagination %}
<nav>
    <a href="#" id="next">
        Load more
    </a>
</nav>

<script>
    class LoadMorePaginator {
        constructor(perPage) {
            this.perPage = perPage
            this.pageIndex = 0
            this.elements = document.querySelectorAll("pre")
            this.next = document.querySelector("#next")
            this.next.addEventListener("click", this.onNextClick.bind(this))
            this.loadMore()
        }

        onNextClick(event) {
            event.preventDefault()
            this.pageIndex++
            this.loadMore()
        }

        loadMore() {
            const indexMin = this.pageIndex * this.perPage
            const indexMax = indexMin + this.perPage

            this.elements.forEach((el, i) => {
                const visible = i < indexMax
                el.style.display = visible ? "block" : "none"
            })

            const lastPage = indexMax >= this.elements.length
            this.next.style.display = lastPage ? "none" : "inline-block"
        }
    }

    new LoadMorePaginator(6);
</script>
{% endblock %}
