{% extends "terms/base.html" %}

{% block content %}
<form>
    <label for="searchBox">Search:</label><br>
    <input id="searchBox" type="text" />
</form>
<p>
    <b data-count="results">0</b>
    of
    <b data-count="total"></b>
    Keywords found<span> with the letters <mark></mark></span>.
</p>

{% for keyword in keyword_list %}
    <pre>{{keyword}}</pre>
{% endfor %}
{% endblock %}

{% block pagination %}
<script>
    const CONFIG = {
        keywords: document.querySelectorAll("pre"),
        input: document.querySelector("input"),
        resultText: document.querySelector("span")
    }

    function search() {
        const inputVal = CONFIG.input.value.toLowerCase();
        if (inputVal.length > 0) {
            CONFIG.keywords.forEach(el => el.style.display = "block");
        } else {
            CONFIG.keywords.forEach(el => el.style.display = "none");
        }
        inputVal.split("").forEach(function (char) {
            for (let i = 0; i < CONFIG.keywords.length; i += 1) {
                if (!CONFIG.keywords[i].innerText.toLowerCase().includes(char)) {
                    CONFIG.keywords[i].style.display = "none";
                }
            }
        });

        const results = document.querySelectorAll("pre[style='display: block;']");
        document.querySelector("[data-count='results']").innerText = results.length;

        if (inputVal.length > 0) {
            CONFIG.resultText.style.display = "inline";
            document.querySelector("mark").innerText = inputVal.toLocaleLowerCase();
        } else {
            CONFIG.resultText.style.display = "none";
        }
    }

    document.querySelector("[data-count='total']").innerText = CONFIG.keywords.length;
    CONFIG.keywords.forEach(el => el.style.display = "none");
    CONFIG.resultText.style.display = "none";
    CONFIG.input.addEventListener("input", search);
</script>
{% endblock %}
