[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
jedi = "*"
autopep8 = "*"
yapf = "*"
black = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.6"
