{% extends "parent.html" %}
{% block title %}Home Blog{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block page_name %}Mini-Blog Page Demo{% endblock %}

{% block body %}
<div class="blog">
    <table>
        <caption>People Blog Entries</caption>
        <thead>
            <tr>
                <th>Creation/Update Timestamp</th>
                <th>Person</th>
                <th>Note</th>
            </tr>
        </thead>
    </table>
</div>
<div class="error">
</div>

<!-- Handlebars script tag entry -->
{% raw %}
<script id="blog-table-template" type="text/x-handlebars-template">
    <tbody>
        {{#each notes}}
        <tr data-person_id="{{person.person_id}}" data-note_id="{{note_id}}">
            <td class="timestamp">{{formatTimestamp timestamp}}</td>
            <td class="name">{{person.fname}} {{person.lname}}</td>
            <td class="content">{{content}}</td>
        </tr>
        {{/each}}
    </tbody>
</script>
{% endraw %}

{% endblock %}

{% block javascript %}
{{ super() }}
<script src="/static/js/home.js"></script>
{% endblock %}
