<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %} Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/css/parent.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    {% endblock %}
</head>
<body>
<div class="navigation">
    <span class="buttons">
        <a href="/">Home</a>
        <a href="/people">People</a>
    </span>
    <span class="page_name">
        <div>{% block page_name%}{% endblock %}</div>
    </span>
    <span class="spacer"></span>
</div>

{% block body %}
{% endblock %}
</body>

{% block javascript %}
<script>
    Handlebars.registerHelper('formatTimestamp', function(timestamp) {
        "use strict";

        let mt = moment(timestamp, moment.ISO_8601);
        return mt.format('Y-MM-DD HH:mm:ssZ');
    });
</script>
{% endblock %}

</html>