<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css">
    <title>Feedback</title>
</head>
<body>
    <header>
        <a href="{% url 'feedback:index' %}">🏡 Home</a>
        <a href="{% url 'feedback:feedback' %}">📝 Feedback</a>
    </header>

    {% block content %}

        <h1>The Secret Link Page</h1>

        <h2>
            <a href="https://realpython.com/" target="_blank">🐍 Access Real Python 🐍</a>
        </h2>

        <p>This page holds a link to a secret Python learning resource 🤫</p>

    {% endblock content %}
</body>
</html>