{% extends "base.html" %}


{% block content %}
<div class="container">
  <div class="m-4">
    {% if artist_id is not none %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Artist Name</h5>
        <p class="card-text">{{ albums[0].artist.name }}</p>
      </div>
    </div>
    {% endif %}
    <table class="table table-striped table-bordered table-hover table-sm">
      <caption>List of Albums</caption>
      <thead>
        <tr>
          <th>Album Name</th>
        </tr>
      </thead>
      <tbody>
        {% for album in albums %}
        <tr>
          <td>
            <a href="{{url_for('tracks_bp.tracks', album_id=album.album_id)}}">
              {{ album.title }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

