<div class="person-control-card">
    <a class="button toggle-control">✍️ Edit</a>
    <div class="person-control hidden">
        <form class="person-form">
            <input name="id" type="hidden" value="" />
            <label>
                <span>First Name</span>
                <input name="fname" type="text" value="" />
            </label>
            <label>
                <span>Last Name</span>
                <input name="lname" type="text" value="" />
            </label>

            <button data-action="update">💫 Update Person</button>
            <hr />
            <button data-action="cancel">👈 Cancel</button>
            <button data-action="delete">❌ Delete Person</button>
        </form>
    </div>
</div>
