a2wsgi==1.10.10
anyio==4.15.1
asgiref==3.12.1
attrs==26.1.0
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
connexion==3.3.0
Flask==3.1.3
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.20
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
python-dotenv==1.2.3
python-multipart==0.0.32
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
starlette==1.6.0
swagger_ui_bundle==1.1.0
typing_extensions==4.16.0
urllib3==2.8.0
uvicorn==0.53.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.1
Werkzeug==3.1.8
