attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
clickclick==20.10.2
connexion==2.7.0
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
idna==2.10
inflection==0.5.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
marshmallow==3.12.1
marshmallow-sqlalchemy==0.25.0
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
pyrsistent==0.17.3
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.15
swagger-ui-bundle==0.0.8
urllib3==1.26.4
Werkzeug==2.0.1
