#header {
    align: center top;
}

    #buttons {
    layout:grid;
    grid-size:4;
    /*grid-gutter: 1 2;*/
    grid-columns: 1fr;
    grid-rows:  1fr;
    margin: 1 2;
    min-width: 26;
    height: 100%;
}
#btn-0, #btn-1 {
    column-span:2;
    background: $primary;
    width:50%;
}

#btn-equals, #btn-clear {
    column-span:4;
    background: $primary;
    width:50%;
}   
