Screen {
    border: panel gray;
    padding: 1;
}
#widget1 {
    color: yellow;
    background: darkblue;
    border: heavy white;
    content_align: center middle;
    height: 1fr;
}

#widget2, #widget3 {
    background: darkgreen;
    border: double white;
    height: 1fr;
    width: 1fr;
}

#widget2 {
content_align: left middle;
}

#widget3 {
content_align: right middle;
}
