Screen {
    border: panel gray;
    padding: 1;
}
     
Static {
    height: 1fr;
    width: 1fr;
    border-title-style: bold;

}
#widget1 {
    color: darkorange;
    background: darkblue;
    border: heavy white;
    content_align: center middle;
}

#widget2 {
    color: black;
    background: darkgreen;
    border: double white;
    content_align: left middle;
}

#widget3 {
    color: ansi_bright_white;
    background: darkred;
    border: dashed black;
    content_align: right middle;
}
